@font-face {
  font-family: DM-Mono;
  src: url(./assets/DM_Mono/DMMono-Regular.ttf);
}

@font-face {
  font-family: DM-Mono;
  src: url(./assets/DM_Mono/DMMono-Italic.ttf);
  font-style: italic;
}

body {
  margin: 0 10px 0 10px;
  font-family: DM-Mono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #3178C6;
  text-decoration: none;
}

h5 {
  font-size: 0.85em;

  margin-top: 10px;
  margin-bottom: 10px;
}

h6 {
  font-size: 0.75em;
}

p {
  font-size: 16px;
}

.bold {
  font-weight: 600;
}

.markdown-body {
  min-width: 100%;
  text-align: left;
  font-size: 16px;

  :h1 {
    font-size: 2em;
  }

  :h2 {
    font-size: 1.5em;
  }

  :h3 {
    font-size: 1.25em;
  }
}