@font-face {
  font-family: DM-Mono;
  src: url(./assets/DM_Mono/DMMono-Regular.ttf);
}

@font-face {
  font-family: DM-Mono;
  src: url(./assets/DM_Mono/DMMono-Italic.ttf);
  font-style: italic;
}

html {
  overflow-y: scroll;

  --background: white;
  --color: black;

  scrollbar-color: gray var(--background);
}

body {
  margin: 0 10px 0 10px;
  font-family: DM-Mono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;

  background-color: var(--background);
  color: var(--color);
}

@media (prefers-color-scheme: dark) {
  body::after {
    content: "dark";
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

a {
  color: #3178c6;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* a.external {
  display: flex;

  &:hover::after {
    width: 0;
    content: ">";
    rotate: -45deg;
    padding-left: 8px;
    padding-top: 10px;
  }
} */

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.markdown-body {
  min-width: 100%;
  text-align: left;
  font-size: 16px;

  :h1 {
    font-size: 2em;
  }

  :h2 {
    font-size: 1.5em;
  }

  :h3 {
    font-size: 1.25em;
  }
}
